<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Epicodus Tunes</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="askreddit">ASK REDDIT</a></li>
      <li><a routerLink="mildlyinteresting">MILDLY INTERESTING</a></li>
      <li><a routerLink="programmerhumor">PROGRAMMER HUMOR</a></li>
      <li><a routerLink="nosleep">NO SLEEP</a></li>
      <li><a routerLink="ordercorn">ORDER CORN</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>
</div>
